config.h
config.log
config.status
Makefile
*.o
*.lo
*~
*.bak
cc/ccom/cgram.c
cc/ccom/cgram.h
cc/ccom/external.c
cc/ccom/external.h
cc/ccom/scan.c
cc/ccom/ccom
cc/ccom/mkext
cc/cc/cc
cc/cpp/cpp
cc/cxxcom/cgram.c
cc/cxxcom/cgram.h
cc/cxxcom/external.c
cc/cxxcom/external.h
cc/cxxcom/mkext
cc/cxxcom/cxxcom
cc/cxxcom/scan.c
