/.deps/
/ci20.bin
/ci20.uImage
/machine
/mips-user.ld
/mips-userland*.stamp
/mips-native-*/
/rootfs.generated.manifest
/rootfs.img
/rootfs.o
/rootfs.stage/
/sys
/unix.dis
/unix.elf
/unix.nm
/vers.c
/*.o
